.fancyHorLine1 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin-top: 0px;
	margin-bottom: 10px;
}

.fancyHorLine2 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
	margin-top: 0px;
	margin-bottom: 0px;
}

.monkeyPatchShiftToRight{
	margin-left: 6px;
	font-size: 15px;
}

.noPadColumn{
	padding-left: 0px;
	padding-right: 0px;
}

.repeatableContainerListGroup{
	margin-top: 3px;
}

.fileType{
	cursor: pointer;
}

#stepsRowName{
	font-size: 15px;
}

.stepsRowInfo{
	font-size: 24px;
}

#funcDeclWrapper{
	border-left: 1px solid black;
}

#funcDeclDivRow,#containerListColDiv{
	max-height: 300px;
	border: 1px solid #51514D;
	margin-bottom: 2px;
	overflow-y: auto;
}
.customBorder{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	/*padding-left: 5px;*/
	/*margin-bottom: 5px; */
	/*border: 1px solid #51514D;*/
}

#stateNameWrapper{
	border-right: 1px solid black;
}