{% extends "base.html" %}
{% block customJS %}
    <script src="{{ url_for('static',filename='./js/State/state.js') }}"></script>
{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./css/state.css') }}">
{% endblock %}

{% block customContent %}

<script>
    function displayGenerationOptions()
    {
        var option = document.getElementById('gene-generation').value;
        if(option == "1dregex")
        {
            document.getElementById('regex').style.display = '';
            document.getElementById('range').style.display = 'none';
        }
        else if(option == "1drange")
        {
            document.getElementById('range').style.display = '';
            document.getElementById('regex').style.display = 'none';               
        }
    }
    
    function placeFitnessTextArea()
    {
        var option = document.getElementById('fitness-select').value;
        if(option=="custom")
        {
            document.getElementById('fitness-code').style.display = '';
            document.getElementById('fitness-data').style.display = '';
            
        }
        else
        {
            document.getElementById('fitness-code').style.display = 'none';
            document.getElementById('fitness-data').style.display = 'none';
        }
    }
    
    function placeAchieveTag()
    {
        var option = document.getElementById('fitness-achieve-select').value;
        if(option=="EQUAL")
        {
            document.getElementById('fitness-achive-tag').style.display = '';
            document.getElementById('fitness-achive-value').style.display = '';
        }
        else
        {
            document.getElementById('fitness-achive-tag').style.display = 'none';
            document.getElementById('fitness-achive-value').style.display = 'none';
        }
    }
</script>

<div class="container-fluid entireStateWrapper">
    
    
        <div class="row" style="border-bottom: 1px solid black">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 noPadColumn" id="funcDeclWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 1.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Enter the Chromsome Type
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Chromosome Factory </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Genes/chromosome </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <select class="form-control" id="gene-generation" onchange="displayGenerationOptions()">
                                                    <option value="1dregex"> 1DRegex </option>
                                                    <option value="1drange"> 1DRange </option>
                                                </select>
                                            </div>

                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="No of genes" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" id="range" style="display:none;">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Data Type </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Min Value </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Max Value </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Repetition allowed </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <select class="form-control">
                                                    <option value="1dregex"> Integer </option>
                                                    <option value="1drange"> Character </option>
                                                </select>
                                            </div>

                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Min Value" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Max Value" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <select class="form-control">
                                                    <option value="1dregex"> Yes </option>
                                                    <option value="1drange"> No </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid" id="regex" style="display:none;">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Regex </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Data Type </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Regex" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <select class="form-control">
                                                    <option value="1dregex"> Integer </option>
                                                    <option value="1drange"> Character </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid black">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 noPadColumn" id="funcDeclWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 2.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Enter Fitness Details
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Fitness Function </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <select class="form-control" id="fitness-select" onchange="placeFitnessTextArea()">
                                                    <option value="addition"> Addition </option>
                                                    <option value="custom"> Custom </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="fitness-code" style="display:none;">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Fitness function code </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <textarea class="form-control" cols="1000" rows="5">#Enter fitness func here</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="fitness-data" style="display:none;">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Extra Data </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <textarea class="form-control" cols="1000" rows="5">#Enter data here</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid black">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 noPadColumn" id="funcDeclWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 3.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Enter the Global Population Level Details
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Population Size </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Crossover Rate </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Mutation Rate </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Max Iterations </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Fitness Type </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2" id="fitness-achive-tag" style="display:none;">
                                    <span class="monkeyPatchShiftToRight"> Fitness to achieve </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Population size" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Crossover Rate" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Mutation Rate" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Max Iterations" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name'>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <select class="form-control" id="fitness-achieve-select" onchange="placeAchieveTag()">
                                                    <option> MAX </option>
                                                    <option> MIN </option>
                                                    <option> EQUAL </option>
                                                </select>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Fitness value" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name' id="fitness-achive-value" style="display:none;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="row" style="border-bottom: 1px solid black">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 noPadColumn" id="funcDeclWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 4.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Crossover Details
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Crossover Type </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Crossover Weight </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight">  </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList" id="stateListColDiv">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <div class="input-group repeatableStateListGroup">
                                                    <select class="form-control crossover-type"> 
                                                        <option> Distinct </option>
                                                        <option> OnePoint </option>
                                                        <option> TwoPoint </option>
                                                        <option> PMX </option>
                                                        <option> OX </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Weight" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name' id="fitness-achive-value">
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary addStateBtn" type="button" data-toggle="tooltip" data-placement="top" title="Add another state">+</button>
                                                    <button class="btn btn-outline-secondary delStateBtn" type="button" data-toggle="tooltip" data-placement="top" title="Delete this state" style="pointer-events: none;" disabled>-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    <div class="row" style="border-bottom: 1px solid black">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 noPadColumn" id="funcDeclWrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowName">
                        Step 5.
                    </div>
                </div>
                <hr class="fancyHorLine2">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12" id="stepsRowInfo">
                        Mutation Details
                    </div>
                </div>
                <hr class="fancyHorLine1">
                <div class="row" id="targetFuncDeclWrapperRow">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Mutation Type </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight"> Mutation Weight </span>
                                </div>
                                <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                    <span class="monkeyPatchShiftToRight">  </span>
                                </div>
                            </div>
                            <div class="row" id="targetFuncDeclDivRow">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-12 customBorder funcToDelete noPadColumn">
                                    <div class="container-fluid repeatableTargetFuncDeclList" id="stateListColDiv">
                                        <div class="row">
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <div class="input-group repeatableStateListGroup">
                                                    <select class="form-control mutation-type"> 
                                                        <option> Swap </option>
                                                        <option> Bit Flip </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <input type="text" class="form-control validName funcName" placeholder="Weight" aria-label="Function Name" aria-describedby="basic-addon4" tabindex='0' data-toggle='popover' data-trigger='manual' data-placement='top' data-content='Invalid Name' id="fitness-achive-value">
                                            </div>
                                            <div class="col-xl-2 col-lg-2 col-md-2 col-2">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary addStateBtn" type="button" data-toggle="tooltip" data-placement="top" title="Add another state">+</button>
                                                    <button class="btn btn-outline-secondary delStateBtn" type="button" data-toggle="tooltip" data-placement="top" title="Delete this state" style="pointer-events: none;" disabled>-</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                           

	{% block buttons %}
		{{ super() }}
	{% endblock %}

</div>

{% endblock %}

